body {
    font-family: Raleway;
    font-size: 1.2rem;
}

header {
    background-color: aliceblue;
    padding: 2rem 10%;
    display: flex;
    justify-content: space-between;
}

header ul {
    padding: 0;
}

header li{
    display: inline;
    padding-right: 1em;
}

main {
    padding: 0 15%;
}

h1 {
    text-align: center;
    padding-top: 2rem;
}

section {
    margin: 3em 0;
}

section p {
    margin: 1em 0;
}

h2 {
    padding-bottom: 1rem;
}

.grid-container {
    display: grid;
    gap: 1em 1em;
    grid-template-columns: repeat(3, 1fr);
}

.about-me .grid-container{
    grid-template-rows: 1fr;
    align-items: center;
}

.about-me img {
    width: 300px;
    margin: auto;
    object-fit: cover;
    max-height: auto;
}

.container {
    min-width: 33%;
}

.content, .project {
   grid-column: 2 / span 2; 
}

.projects ul {
    margin-bottom: 2rem;
}

section li {
    padding: 0.5em 0;
    transition: all 0.2s;
}

.projects li:hover {
    cursor: pointer;
}

.project {
    text-align: right;
}

.image-container {
    width: 100%;
    max-height: 25em;
    overflow: hidden;
    margin: 0.5rem 0;
    margin-left: auto;
    padding: 0.5rem;
    border: 1px solid black;
}

.project img {
    max-width: 100%;
    height: auto;
    display: block;
}

h3 {
    margin-bottom: 1rem;
}

.hidden {
    display: none;
}

#empty {
    min-height: 20rem;
    text-align: right;
}

#empty p {
    margin: 0;
}

.skills {
    min-height: 20rem;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.flex div{
    margin: 0.5rem;
    padding: 1.5em;
    min-width: 15rem;
    background-blend-mode: darken;
    background-position: center;
    background-size: 0%;
    background-repeat: no-repeat;
    transition: all 0.3s;
    background-image: url("../images/logos/c-plusplus-logo.svg");
    border: solid black 2px;
}

.flex p {
    text-align: center;
    margin: 0;
}

.flex div:hover {
    padding: 1.0625em;
    padding-left: 2.5em;
    background-color: #00000022;
    background-blend-mode: darken;
    background-position: left;
    background-size: 32%;
    background-repeat: no-repeat;
    font-size: 1.25em;
    font-weight: 500;
}


#html {
    background-image: url("../images/logos/html5-logo.svg");
}

#css {
    background-image: url("../images/logos/css-logo.svg");
}

#js {
    background-image: url("../images/logos/js-logo.svg");
}

#js:hover {
    padding-left: 3.2em;
}

#godot {
    background-image: url("../images/logos/godot-logo.svg");
}

#unity {
    background-image: url("../images/logos/unity-logo.svg");
}

#sql {
    background-image: url("../images/logos/sql-logo.svg");
}

#c-sharp {
    background-image: url("../images/logos/c-sharp-logo.svg");
}

#c-plusplus {
    background-image: url("../images/logos/c-plusplus-logo.svg");
}

#java {
    background-image: url("../images/logos/java-logo.svg");
}

#python {
    background-image: url("../images/logos/python-logo.svg");
}

footer {
    padding: 2rem 0;
    text-align: right;
}

@media only screen and (max-width: 1000px) {

    h1 {
        font-size: 1.6em;
    }

    main {
        /* font-size: 0.9em; */
        text-align: center;
    }

    main ul {
        list-style: none;
        padding: 0;
    }

    h2 {
        text-align: center;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }
    
    .about-me .grid-container{
        grid-template-rows: repeat(2, 1fr);
    }

    .content, .project {
        grid-column: 1; 
    }

    .project, #empty {
        text-align: center;
    }

    footer {
        text-align: center;
    }
}

@media only screen and (max-width: 650px) {
    
    header {
        flex-direction: column-reverse;
        align-items: center;
        gap: 0.5em;
        padding: 1.5em;
    }

    header p {
        font-weight: bold;
    }
}